.contactus-section{
    position: relative;
    
}

.contact-1{
   
        .contact-banner{
            background: rgb(186,223,205);
            background: linear-gradient(180deg, rgba(186,223,205,1) 0%, rgba(74,124,122,1) 100%, rgba(0,212,255,1) 100%);
            height: auto;
            width: 100%;
            padding-top: 10%;

            @media (max-width:1366px) {
                padding-top: 30vh;
            }

            @media (max-width:1024px) {
                padding-top: 28vh;
            }
           

            .contact-bg{
                max-width: 1140px;
                margin: 0 auto;
                height: 100%;
                background: url('../images/backgrounds/contact-bg.png');
                background-repeat: no-repeat;
                background-size: 50%;
                background-position: right bottom;
                
                @media (max-width:1366px) {
                    background-size: 43%;
                }

                @media (max-width:480px) {
                    background: none;
                }

                .w-100{
                    max-width: 1440px;
                    display: flex;
                    padding: 0 50px;
                    justify-content: center;

                    @media (max-width:480px) {
                        padding: 0 25px;
                    }
                    

                .contact-container{
                    padding: 0 0 100px;
                    display: flex;
                    flex-wrap: wrap;
             

                    @media (max-width:480px) {
                        padding: 0 0 50px;
                    }

                 
                    .left{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        @media (max-width:1024px) {
                            width: 100%;
                        }

                        @media (max-width:480px) {
                            flex-direction: column-reverse;
                            
                        }
                        
                        .logo{
                            display: flex;
                            justify-content: space-between;
                            position: relative;
                            flex-direction: row;
                            align-items: center;
                           
                    
                               @media (max-width:500px) {
                                flex-direction: column;
                            }
                            a{
                                display: flex;
                                justify-content: center;
                            }

                            img{
                                box-sizing: border-box;
                                padding: 0;
                                width: 75%;
                                @media (max-width:1024px) {
                                    width: 50%;
                                }
                                @media (max-width:768px) {
                                    padding: 10px 0;
                                    width: 75%;
                                }
                            }
        
                        }

                        .contact-main{
                            // font-family: "Montserrat";
                            color: #2f6466;
                            padding-bottom: 0;
                            
                            @media (max-width:480px) {
                              text-align: center;
                              padding-bottom: 75px;
                            }

                            h1{
                                font-weight: 800;
                                font-size: 60px;
                               
                                @media (max-width:1366px) {
                                   
                                }

                                @media (max-width:1024px) {
                                
                                   
                                }
                                
                                @media (max-width:500px) {
                                        text-align: center;
                                        font-size: 52px;
                                }
                            }
                            
                            h2{
        
                                font-weight: 700;
                                font-size: 30px;

                                @media (max-width:1366px) {
                                    font-size: 2em;
                                }
                            }
                            
                            p{
                                font-style: italic;
                                font-size: 18px;

                            }

                            .input-con{
                                font-size: 32px;
                                opacity: .8;
                                display: flex;
                                opacity: .8;
                                flex-direction: column;
                                align-content: center;
                                align-items: center;
                                
                                @media (max-width:1366px) {
                                    font-size: 24px;
                                }
                                   
                                @media (max-width:480px) {
                                    font-size: 20px;
                                    flex-direction: column;
                                }
                              

                                .name{
                                    padding: 0 10px;
                                    width: 100%;
                                    border-radius: 10px; 
                                    margin-bottom: 25px;
                                    border-style: none;
                                    font-style: italic;

                                    &::placeholder{
                                        color: #ced4da;
                                    }
                                    
                                    @media (max-width:1366px) {
                                        width: 90%;
                                    }
                                    @media (max-width:480px) {
                                        margin-bottom: 10px;
                                 
                                    }
                                
                                }   

                                .flex{
                                    display: flex;
                                    width: 100%; 
                                    flex-direction: row;
                                    justify-content: center;
                                    @media (max-width:480px) {
                                        flex-direction: column; 
                                        width: 90%; 
                                    }
                                }

                                .iti{
                                    width: 52%;
                                    scroll-padding: 4%;
                                    padding-bottom: 0;

                                        @media (max-width:1366px) {
                                            width: 48%;           
                                         }
                                        @media (max-width:480px) 
                                        {
                                            width: 100%;
                                            padding-bottom: 10px;
                                        }
                                    }
                                }
                                .iti__flag-container{

                                    position: absolute;
                                    top: -20px;

                                    @media (max-width:480px) {

                                    top:-7px
                                        
                                    }
                                }
                                .iti__selected-flag{
                                    background: none ;
                                    font-size: 18px;
                                }

                                .iti__flag {background-image: url("../images/logo/flags.png");}

                                @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                                .iti__flag {background-image: url("../images/logo/flags@2x.png");}}     

                                .phone{
                                    width: 97%;
                                    padding-left:50px;
                                    border-radius: 10px; 
                                    margin-bottom: 25px;
                                    border-style: none;
                                    font-style: italic;

                                    &::placeholder{
                                        color: #ced4da;
                                    }
                                    @media (max-width:480px) {
                                        width: 100%; 
                                        margin-right: 0 ;
                                        margin-bottom: 10px;
                                 
                                    }
                                   

                                }

                                .email{
                                    width: 48%;
                                    padding: 0 10px;
                                    border-radius: 10px; 
                                    margin-bottom: 25px;
                                    border-style: none;
                                    font-style: italic;

                                    &::placeholder{
                                        color: #ced4da;
                                    }
                                    
                                    @media (max-width:1366px) {
                                        width: 43%;
                                    }

                                    @media (max-width:480px) {
                                        width: 100%; 
                                        margin-bottom: 10px;
                                     
                                    }

                                }

                                .dropdown{
                                    width: 100%;
                                    padding: 0 10px;
                                    border-radius: 10px; 
                                    margin-bottom: 25px;
                                    border-style: none;
                                    font-style: italic;

                                    &::placeholder{
                                        color: #ced4da;
                                    }
                                    

                                    @media (max-width:1366px) {
                                        width: 90%;
                                    }

                                    @media (max-width:480px) {
                                        margin-bottom: 10px;

                                    }
                                }

                                .textarea{
                                    padding: 0 10px;
                                    width: 100%;
                                    height: 40vh;
                                    border-radius: 10px;
                                    border-style: none;
                                    font-style: italic;

                                    &::placeholder{
                                        color: #ced4da;
                                    }

                                    @media (max-width:1366px) {
                                        width: 90%;
                                    }
                                }

                                .send{
                                    padding: 20px 110px;
                                    border-style: none;
                                    border-radius: 10px;
                                    font-weight: 700;
                                    color: #fff;
                                    background-color: #4a7c7a;
                                    width: inherit;

                                    @media (max-width:480px) {
                                        width: 90%;
                                        padding: 10px 110px;
                                    }

                                }
                                .hidden{
                                    opacity: 0;
                                }
                            }
                        }
                 
                  }    
                
                  .right{

                    width: 0%;
                }
               
            }
        }
        .bottom-content{
            position: relative;
            width: 100%;
            background-color: #abc3c1;
            padding: 3% 5%;
            opacity: .8;
            margin-top: 6vh;

            .location{
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                @media (max-width:480px) {
                    flex-direction: column;
                }

                .place{
                    width: 25%;

                    @media (max-width:1024px) {
                       width: 30%; 
                    }
                    @media (max-width:480px) {
                     width: 100%;
                     text-align: center;
                    }

                    h1{
                        font-size: 2em;
                        font-weight: 700;
                    }
                    p{
                        font-size: 18px ;
                    }
                }

            }
        }
        .p100{
            padding: 50px 0;
        }
    }
}

.contact-2{
    .w-100{
        // background: url('../images/backgrounds/green background.png');
        background: linear-gradient(to bottom, #aadfd7, #1a454a);
        max-width: 1980px;
        width: 100%;
        display: flex;
        flex-direction: row;

        .left{
            width: 50%;
            position: relative;
            margin: 0 20px;
            align-items: flex-end;
            align-content: center;
            align-self: center;
            display: flex;
            flex-direction: column;

            .my-card{
                background: #f8fcfa;
                border-radius: 20px;
                margin-top: 20px;
                padding: 15px;
                color: #1a454a; 
                display: flex;
                flex-direction: row;
                width: 49rem;
                
                img{
                    width: 100%;
                }

                .card-left{
                    padding: 20px;
                    align-items: start;
                    align-self: start;
                    align-content: start;
                    display: flex;
                    justify-content:center;
                    width: 20%;
                }

                .card-right{
                    width: 80%;
                    padding: 10px 30px;

                    h2{
                        font-size: 32px;
                        font-weight: 600;
                    }

                    p{
                        font-size: 22px;
                        font-weight: 600;
                    }
                }
            }
        }

        .right{
            width: 50%;
            margin: 0 20px;

            .right-my-card{
                background: #aadfd7;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                height: 105vh;
                width: 43%;
                border-radius: 20px;
                top: 45rem;
                position: absolute;

                form{
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    padding: 20px 50px;

                    h1{
                        color: #3b7071;
                        font-size: 55px;
                        padding: 10px;
                        font-weight: 600;
                        font-style: italic;
                        font-family: "Helvetica Neue LT Std Blck Condensed";
                    }

                    .yourname{
                        height: 40px;
                        margin: 0 auto;
                        font-style: italic;
                        margin: 20px 0;
                        border-radius: 10px;
                        border: none;
                    }

                    .email {
                        height: 40px;
                        font-style: italic;
                        margin: 0 auto;
                        border-radius: 10px;
                        border: none;
                        margin: 20px 0;
                    }

                    .contact {
                        height: 40px;
                        font-style: italic;
                        border: none;
                        margin: 0 auto;
                        margin: 20px 0;
                        border-radius: 10px;
                    }

                    .message {
                        font-style: italic;
                        border: none;
                        height: 20rem;
                        border-radius: 10px;
                        margin: 0 auto;
                        font-size: 20px;
                        color: gray;
                        margin: 20px 0;
                    }

                    button{
                        height: 50px;
                        width: 13rem;
                        background: #2f6466;
                        color: white;
                        border: none;
                        margin: 20px 0 ;
                        border-radius: 10px;
                        align-items: center;
                        align-content: center;
                        align-self: center;
                    }
                }
            }
        }
    }

}